@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">

        <h1>Welcome to using The jQuery EasyUI!</h1>

    </div>


