@model Sky.ViewModels.SkySysViewModel

<div data-options="region:'south',split:true" style="height:29px;background: #D2E0F2; ">
    <div style="padding: 0px; margin-left: 40%;">
        Copyright &copy; @Model.year <a href="www.zhongluankeji.com" target="_blank">@Model.producer</a> @Model.sysname
    </div>
</div>